Flask
gunicorn
flask-cors
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
psycopg2-binary
cryptography
bcrypt
python-dotenv
scikit-learn
joblib
pandas
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytest
pytest-flask
